body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.failureText {
  position: absolute;
  width: 90%;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:200%;
  line-height: 100%;
}
.floatLayer {
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  width: 100%
}

.vis-labelset .vis-label {
  color: white
}

.ui.primary.button {
  background-color: rgb(241, 85, 0)
}

.ui.primary.buttons .button,
.ui.primary.button {
  background-color: rgb(241, 85, 0)
}
